.pkm-img {
  margin-top: -80px;
  width: 120px;
  text-align: right;
}

.pkm-img-container {
  text-align: right;
  height: 0px;
}

.pkm-card-body {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: unset !important;
  }
}
